<a href="https://colab.research.google.com/github/omkar87796-sudo/personal-diary/blob/main/T_Test_in_Hypothesis_Testing.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# T-Test in Hypothesis Testing

## Left test

In [1]:
import pandas as pd
from scipy import stats

In [2]:
data = [47, 49, 48, 46, 50, 49, 47, 48, 46, 47]
data = pd.Series(data)

In [3]:
population_mean = 50
alpha = 0.05

In [4]:
data_mean = data.mean()
data_std = data.std()
n = len(data)

In [5]:
t_stat = (data_mean - population_mean) / (data_std / (n**0.5))

In [6]:
t_critical = stats.t.ppf(alpha, df=n-1)

In [7]:
if t_stat < t_critical:
    print("Reject the null hypothesis (Left-tailed)")
else:
    print("Fail to reject the null hypothesis (Left-tailed)")

Reject the null hypothesis (Left-tailed)

## Right test

In [13]:
data = [47, 49, 48, 46, 50, 49, 47, 48, 46, 47]
data = pd.Series(data)

In [12]:
population_mean = 50
alpha = 0.05

In [11]:
data_mean = data.mean()
data_std = data.std()
n = len(data)

In [10]:
t_stat = (data_mean - population_mean) / (data_std / (n**0.5))

In [9]:
t_critical = stats.t.ppf(1-alpha, df=n-1)

In [8]:
if t_stat > t_critical:
    print("Reject the null hypothesis (Left-tailed)")
else:
    print("Fail to reject the null hypothesis (Left-tailed)")

Fail to reject the null hypothesis (Left-tailed)

## Two tailed depended

In [21]:
before = np.array([18, 14, 24, 26, 22, 34, 25, 24, 27, 19])
after  = np.array([15, 12, 21, 24, 20, 30, 23, 22, 25, 18])

In [22]:
d = before - after
n = len(d)

In [23]:
d_mean = d.mean()
d_std  = d.std(ddof=1)

In [24]:
t_data = d_mean / (d_std / np.sqrt(n))

In [25]:
alpha = 0.05
df = n - 1

In [26]:
t_critical_right = stats.t.ppf(1 - alpha/2, df)
t_critical_left  = stats.t.ppf(alpha/2, df)

In [27]:
if t_data > t_critical_right or t_data < t_critical_left:
    print("Reject Null Hypothesis")
else:
    print("Accept Null Hypothesis")

Reject Null Hypothesis

## Two tailed independed

In [ ]:
import numpy as np

In [ ]:
group1 = np.array([18, 14, 24, 26, 22, 34, 25, 24, 27, 19])
group2 = np.array([15, 12, 21, 24, 20, 30, 23, 22, 25, 18])

In [ ]:
n1 = len(group1)
n2 = len(group2)

mean1 = group1.mean()
mean2 = group2.mean()

std1 = group1.std(ddof=1)
std2 = group2.std(ddof=1)

In [17]:
sp = np.sqrt(((n1-1)*std1**2 + (n2-1)*std2**2) / (n1 + n2 - 2))

In [18]:
t_stat = (mean1 - mean2) / (sp * np.sqrt(1/n1 + 1/n2))

In [19]:
alpha = 0.05
df = n1 + n2 - 2

t_critical_right = stats.t.ppf(1 - alpha/2, df)
t_critical_left = stats.t.ppf(alpha/2, df)

In [20]:
if t_stat > t_critical_right or t_stat < t_critical_left:
    print("Reject Null Hypothesis (Two-tailed Independent t-test)")
else:
    print("Accept Null Hypothesis (Two-tailed Independent t-test)")

Accept Null Hypothesis (Two-tailed Independent t-test)